engine-strict=true
link-workspace-packages=true
prefer-workspace-packages=true
shamefully-hoist=false
minimumReleaseAge=28800
minimumReleaseAgeStrict=true

only-built-dependencies[]=@scarf/scarf
only-built-dependencies[]=core-js
only-built-dependencies[]=protobufjs
only-built-dependencies[]=esbuild

